* {
  box-sizing: border-box;
  /* font-family: "Courier"; */
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
}

.main {
  float: left;
  width: 80%;
  padding: 0 20px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .menu, .main, * { 
    color: #cccccc; 
    background-color: #1e1e1e;
  }
}

